body {
	background-color: #b7d1c4;
}

h1 {
	color: blue;
	font-family: verdana;
	font-size: 14px;
}

p {
	color: black;
	font-family: Helvetica;
	font-size: 12px;


.ptype {
	font-size: 12px;
	font-family: serif;
}

#different {
	color: red;
}